<!-- Section - Home -->
    <section id="section01" class="section fullheight bg-black dark padding-v-100">

        <!-- BG Image -->
        <div class="bg-image"><img src="assets/img/backgrounds/couple.jpg" alt=""></div>

        <div class="container container-wide v-center">
            <div class="row">
                <div class="col-lg-6">
                    <div class="carousel" data-single-item="true">
                        <div class="slide margin-b-30">
                            <h1 class="margin-b-20">Welcome to <strong>Vegan Singles</strong>.</h1>
                            <h2>Vegan Dating, Simplified</h2>
                            <a href="/register" class="btn btn-red btn-filled"><span>Free signups until 2016! Join Now!</span></a> <a href="#" class="btn btn-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- Section - Home / End -->

    <!-- Section - About -->
    <section id="section02" class="section fullheight bg-white padding-v-130">
        
        <div class="section-content container container-wide v-center">
            <div class="row v-center-items">
                <div class="col-lg-5 col-sm-6 margin-b-30">
                    <h1>We are <strong>the best</strong> solution for vegan dating!</h1>
                    <p class="lead">Made by vegans for vegans. We strive to provide high quality features for the end user.</p>
                    <span data-target="local-scroll"><a href="#section03" class="btn btn-red btn-filled"><span>Why Vegan Singles?</span></a></span>
                </div> 
                <div class="col-lg-6 col-lg-push-1 col-sm-6">
                    <img src="assets/img/photos/couple2.jpg" alt="" />
                </div>
            </div>
        </div>

    </section>
    <!-- Section - About / End -->

    <!-- Section - Services -->
    <section id="section03" class="section fullheight dark padding-v-100" data-header-change="true" style='background-color: #173157;'>
        
        <div class="section-content v-center">
            <div class="border-bottom margin-b-80">
                <div class="container container-wide">
                    <h6 class="margin-b-10">Why Vegan Singles?</h6>
                </div>
            </div>
            <!-- Services -->
            <div class="container container-wide">
                <div class="row">
                    <!-- Service Box -->
                    <div class="col-md-4 col-sm-6 col-xs-12 service-box animated" data-animation="fadeInUp">
                        <center>
                            <img src='assets/img/cows.png' height='200' width='200'> 
                            <h3><strong>MADE BY VEGANS,<br>FOR VEGANS</strong></h3>
                        </center>
                        <p class='lead'>Finally, a better dating site for vegans! Designed by a group of vegans who were fed up with the lack of options for dating, Vegan Singles combines a sleek, easy to use interface with well thought-out design features.
                    </div>
                    <!-- Service Box -->
                    <div class="col-md-4 col-sm-6 col-xs-12 service-box animated" data-animation="fadeInUp" data-animation-delay="100">
                        <center>
                            <img src='assets/img/chickens.png' height='200' width='200'> 
                            <h3><strong>EASY TO USE<br>SEARCH</strong></h3>
                        </center>
                        <p class='lead'>Easily search for your match, filtering by age, gender, location and more. Spend less time searching and more time finding.</p>
                    </div>
                    <!-- Service Box -->
                    <div class="col-md-4 col-sm-6 col-xs-12 service-box animated" data-animation="fadeInUp" data-animation-delay="200">
                        <center>
                            <img src='assets/img/pigs.png' height='200' width='200'> 
                            <h3><strong>COMMUNICATE<br>INSTANTLY</strong></h3>
                        </center>
                        <p class='lead'>Stop waiting for emails! Instantly message any online member with  the lick of a button. Haven't you waited long enough to find the love of your life?</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Section - Services / End -->

    <!-- Section - About -->
    <section id="section04" class="section fullheight bg-white padding-v-130">
        
        <div class="section-content container container-wide v-center">
            <div class="row v-center-items">
                <div class="col-lg-6 col-sm-6 margin-b-30">
                    <img src="assets/img/photos/couple.jpg" alt="" />
                </div>
                <div class="col-lg-5 col-lg-push-1 col-sm-6">
                    <h1>Vegans <strong>love</strong> using our service!</h1>
                    <p class="lead">At vegan singles we are passionate about providing a positive user experience!</p>
                    <span data-target="local-scroll"><a href="#section05" class="btn btn-red btn-filled"><span>What Users say?</span></a></span>
                </div> 
            </div>
        </div>

    </section>
    <!-- Section - About / End -->

    <!-- Section - Clients  -->
    <section id="section05" class="section fullheight dark padding-v-100" data-header-change="true" style='background-color: #173157;'>
        
        <div class="section-content text-center v-center">

            <div class="border-bottom margin-b-80">
                <div class="container container-wide text-center">
                    <h6 class="margin-b-10">What do our users say?</h6>
                </div>
            </div>
            
            <div class="container container-wide">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="carousel pagination-center" data-single-item="true" data-auto-play="2500">
                            <div class="slide margin-b-30">
                                <img class="square margin-b-30" src="assets/img/members/april.jpg" alt="" />
                                <h1 class="margin-b-10">"I never knew there were so many vegan men! This is an awesome site."</h1>
                                <span class="text-muted"><strong>April Hylia</strong>, Calgary, Canada</span>
                            </div>
                            <div class="slide margin-b-30">
                                <img class="square margin-b-30" src="assets/img/members/brandon.jpg" alt="" />
                                <h1 class="margin-b-10">"It's nice to have a vegan dating solution that actually works."</h1>
                                <span class="text-muted"><strong>Brandon Hail</strong>, Rocklin, CA</span>
                            </div>
                            <div class="slide margin-b-30">
                                <img class="square margin-b-30" src="assets/img/members/member03.jpg" alt="" />
                                <h1 class="margin-b-10">"Those was the best services for my compoany since"</h1>
                                <span class="text-muted">Mike Ronson, Webinary Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- Section - Clients / End -->

    <!-- Section - Team -->
    <section id="section06" class="section fullheight padding-v-100">
        
        <div class="section-content v-center">
            <div class="border-bottom margin-b-80">
                <div class="container container-wide">
                    <h6 class="margin-b-10">The team</h6>
                </div>
            </div>
            <div class="container container-wide">
                <div class="row text-center margin-b-30">  
                     <!-- Member -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="member-box margin-b-30">
                            <div class="member-photo margin-b-10"><img class="square" src="assets/img/members/john.jpg" alt="" /></div>
                            <h6 class="margin-b-0">John Thomas</h6>
                            <span class="text-sm text-muted">Founder</span>
                            <div class="social-icons margin-t-20">
                                <a href="https://www.facebook.com/awaken375?fref=ts" class="icon icon-xs icon-hover"><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Member -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="member-box margin-b-30">
                            <div class="member-photo margin-b-10"><img class="square" src="assets/img/members/david.jpg" alt="" /></div>
                            <h6 class="margin-b-0">David Kong</h6>
                            <span class="text-sm text-muted">Developer</span>
                            <div class="social-icons margin-t-20">
                                <a href="https://www.facebook.com/dxvidkong" class="icon icon-xs icon-hover"><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Member -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="member-box margin-b-30">
                            <div class="member-photo margin-b-10"><img class="square" src="assets/img/members/alyson.jpg" alt="" /></div>
                            <h6 class="margin-b-0">Alyson Burton</h6>
                            <span class="text-sm text-muted">Designer</span>
                            <div class="social-icons margin-t-20">
                                <a href="https://www.facebook.com/alyson.burton.3?fref=ts" class="icon icon-xs icon-hover"><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Member -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="member-box margin-b-30">
                            <div class="member-photo margin-b-10"><img class="square" src="assets/img/members/" alt="" /></div>
                            <h6 class="margin-b-0">Memo Lopez</h6>
                            <span class="text-sm text-muted">Customer Support</span>
                            <div class="social-icons margin-t-20">
                                <a href="#"class="icon icon-xs icon-hover"><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Section - Team / End -->

    <!-- Section - Contact -->
    <section id="section07" class="section bg-black dark padding-v-100" data-header-change="true">
        
        <div class="section-content container container-wide v-center">
            <div class="row">
                <div class="col-md-4 col-sm-4 text-left">
                    <center>
                        <h2 class="margin-b-5"><i class="icon-before text-red ti-facebook"></i>Facebook:</h2>
                        <h3><a href="#" class="link-default">Link Here</a></h3>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4 text-left">
                    <center>
                        <h2 class="margin-b-5"><i class="icon-before text-red ti-twitter-alt"></i>Twitter</h2>
                        <h3><a href="#" class="link-default">Link Here</a></h3>
                    </center>
                </div>
                <div class="col-md-4 col-sm-4 text-left">
                    <center>
                        <h2 class="margin-b-5"><i class="icon-before text-red ti-youtube"></i>YouTube</h2>
                        <h3><p>Coming Soon</p></h3>
                    </center>
                </div>
            </div>
        </div>

    </section>
    <!-- Section - Contact / End -->

    <!-- img -->

        <!-- Footer -->
    <footer id="footer" class="bg-black padding-v-40 dark text-center">
        <div class="section-content copyright margin-b-20">
            Copyright <strong>Vegan Singles</strong> 2015©. Made with love from <a href="#"><strong>Los Angeles, CA</strong></a>
        </div>
        <span data-target="local-scroll"><a href="#section01" class="back-to-top"><i class="fa fa-chevron-up"></i></a></span>
    </footer>
    <!-- Footer / End -->