 <section class="section fullheight bg-blue-navy dark padding-v-100" data-header-change="true">
        
        <div class="section-content v-center">
            <div class="border-bottom margin-b-80">
                <div class="container container-wide">
                    <h1><i class="ti-agenda"> </i></a> Terms of Service</h1>
                </div>
            </div>
            
            <div class="container container-wide">
                    <h2>Keep in mind that this is a vegan site. Do not post pictures involving meat, hunting, fishing, etc.</h2>
                    <h2>Have fun meeting other vegans and act in a respectful manner. We have the right to terminate your account if we have to.</h2>
            </div>
        </div>

</section>