<section class="section fullheight bg-blue-navy dark padding-v-100" data-header-change="true">
        
        <div class="section-content v-center">
            <div class="border-bottom margin-b-80">
                <div class="container container-wide">
                    <h1 class="text-center"><i class="fa fa-user-times" style='margin-right: 10px;'> </i></a>Inactive</h1>
                </div>
            </div>
            
            <div class="container">
                    <center>
                    <h3>This profile does not exist or is inactive.</h3>
                    </center>
            </div>
        </div>

</section>
