<!-- Section - Home -->
    <section id="section01" class="section fullheight bg-blue dark padding-v-100" data-header-change="true">

        <div class="container container-wide v-center">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <img class="square margin-b-20" src=" http://i.imgur.com/2TCApD4.jpg" alt="" />
                    <h1 class="margin-b-10">Hi! My name is <strong>Claire Lovely</strong>.<br>
                    I am a vegan from Los Angeles, CA </h1>
                    <br>
                    <h2>21 years old</h2>
                    <h2>Female</h2>
                    <!-- Roll Down -->
                    <span data-target="local-scroll"><a href="#section02"><span class="roll-down"></span></a></span>
                </div>
            </div>

            <br>
            <br>
            <br>

            <h1>Your Compatibility with Claire Lovely</h1>
            <div class="chart-box">
                <div class="chart chart-lg" data-bar-color="#fff" data-track-color="rgba(255,255,255,0.2)" data-size="190" data-line-width="8" data-value="60"><span class="percent"></span></div>
                <strong>Overall</strong>
            </div>
            <div class="chart-box">
                <div class="chart chart-lg" data-bar-color="#fff" data-track-color="rgba(255,255,255,0.2)" data-size="190" data-line-width="8" data-value="90"><span class="percent"></span></div>
                <strong>Age</strong>
            </div>
            <!-- Chart Box -->
            <div class="chart-box">
                <div class="chart" data-bar-color="#fff" data-track-color="rgba(255,255,255,0.2)" data-size="190" data-line-width="8" data-value="55"><span class="percent"></span></div>
                <strong>Interests</strong>
            </div>
            <!-- Chart Box -->
            <div class="chart-box">
                <div class="chart" data-bar-color="#fff" data-track-color="rgba(255,255,255,0.2)" data-size="190" data-line-width="8" data-value="35"><span class="percent"></span></div>
                <strong>Distance</strong>
            </div>
        </div>
        
    </section>
    <!-- Section - Home / End -->

    <!-- Section - Portfolio -->
    <section id="section06" class="section bg-blue dark" data-header-change="true">

        <div class="masonry-grid no-padding">
            <!-- Masonry Sizer -->
            <div class="masonry-sizer"></div>
            <!-- Masonry Element -->
            <div class="masonry-item">
                <div class="gallery-item">
                    <div class="item-photo"><a href="projects/project-green.html" data-target="ajax-modal"><img src="http://i.imgur.com/nGkWgVZ.jpg" alt="" /></a></div>
                    <a href="projects/project-green.html" data-target="ajax-modal">
                        <div class="item-hover bg-blue dark">
                            <div class="item-hover-content">
                                <h2 class="margin-b-0">Hello!</h2>
                                <span class="text-muted">Hello I am driving.</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item">
                <div class="gallery-item">
                    <div class="item-photo"><a href="projects/project-green.html" data-target="ajax-modal"><img src="http://i.imgur.com/vbrJYYQ.jpg" alt="" /></a></div>
                    <a href="projects/project-green.html" data-target="ajax-modal">
                        <div class="item-hover bg-blue dark">
                            <div class="item-hover-content">
                                <h2 class="margin-b-0">Starbucks</h2>
                                <span class="text-muted">Me at Starbucks</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item">
                <div class="gallery-item">
                    <div class="item-photo"><a href="projects/project-green.html" data-target="ajax-modal"><img src="http://i.imgur.com/kXXXndp.jpg" alt="" /></a></div>
                    <a href="projects/project-green.html" data-target="ajax-modal">
                        <div class="item-hover bg-blue dark">
                            <div class="item-hover-content">
                                <h2 class="margin-b-0">Vacation</h2>
                                <span class="text-muted">Me in China.</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item">
                <div class="gallery-item">
                    <div class="item-photo"><a href="projects/project-green.html" data-target="ajax-modal"><img src="http://i.imgur.com/UHQK4lz.jpg" alt="" /></a></div>
                    <a href="projects/project-green.html" data-target="ajax-modal">
                        <div class="item-hover bg-blue dark">
                            <div class="item-hover-content">
                                <h2 class="margin-b-0">PAX</h2>
                                <span class="text-muted">PAX event 2015</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item">
                <div class="gallery-item">
                    <div class="item-photo"><a href="projects/project-green.html" data-target="ajax-modal"><img src="http://i.imgur.com/K2SKrOc.jpg" alt="" /></a></div>
                    <a href="projects/project-green.html" data-target="ajax-modal">
                        <div class="item-hover bg-blue dark">
                            <div class="item-hover-content">
                                <h2 class="margin-b-0">Park</h2>
                                <span class="text-muted">Relaxing in the Park</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item">
                <div class="gallery-item">
                    <div class="item-photo"><a href="projects/project-green.html" data-target="ajax-modal"><img src="http://i.imgur.com/3bNJuq5.jpg" alt="" /></a></div>
                    <a href="projects/project-green.html" data-target="ajax-modal">
                        <div class="item-hover bg-blue dark">
                            <div class="item-hover-content">
                                <h2 class="margin-b-0">Rave</h2>
                                <span class="text-muted">Skrillex!!</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item">
                <div class="gallery-item">
                    <div class="item-photo"><a href="projects/project-green.html" data-target="ajax-modal"><img src="http://i.imgur.com/mm3ckAq.jpg" alt="" /></a></div>
                    <a href="projects/project-green.html" data-target="ajax-modal">
                        <div class="item-hover bg-blue dark">
                            <div class="item-hover-content">
                                <h2 class="margin-b-0">Surfing</h2>
                                <span class="text-muted">Fun at the beach!</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Masonry Element -->
            <div class="masonry-item">
                <div class="gallery-item">
                    <div class="item-photo"><a href="projects/project-green.html" data-target="ajax-modal"><img src="http://i.imgur.com/h3EvkJt.jpg" alt="" /></a></div>
                    <a href="projects/project-green.html" data-target="ajax-modal">
                        <div class="item-hover bg-blue dark">
                            <div class="item-hover-content">
                                <h2 class="margin-b-0">Bed</h2>
                                <span class="text-muted">So sleepy.</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <!-- Section - Portfolio / End -->

    <!-- Section - Services -->
    <section id="section02" class="section fullheight bg-blue-navy dark padding-v-100" data-header-change="true">
        
        <div class="section-content container container-wide v-center">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <h1><strong>Check my hobbies</strong> and get to know me.</h1>
                    <div class="row">
                        <!-- Icon Box -->
                        <div class="col-md-4">
                            <div class="icon-box margin-b-40 text-center animated" data-animation="bounceIn">
                                <span data-target="local-scroll"><a href="#section06" class="icon icon-square icon-hover icon-green animated-hover" data-hover-animation="jello" data-hover-animation-duration="900"><i class="ti-desktop"></i></a></span>
                                <h5 class="margin-b-0">Webdesign</h5>
                            </div>
                        </div>
                        <!-- Icon Box -->
                        <div class="col-md-4">
                            <div class="icon-box margin-b-40 text-center animated" data-animation="bounceIn">
                                <span data-target="local-scroll"><a href="#section06" class="icon icon-square icon-hover icon-green animated-hover" data-hover-animation="jello" data-hover-animation-duration="900"><i class="ti-layers-alt"></i></a></span>
                                <h5 class="margin-b-0">Webdevelopmentn</h5>
                            </div>
                        </div>
                        <!-- Icon Box -->
                        <div class="col-md-4">
                            <div class="icon-box margin-b-40 text-center animated" data-animation="bounceIn">
                                <span data-target="local-scroll"><a href="#section06" class="icon icon-square icon-hover icon-green animated-hover" data-hover-animation="jello" data-hover-animation-duration="900"><i class="ti-mobile"></i></a></span>
                                <h5 class="margin-b-0">Responsive Design</h5>
                            </div>
                        </div>
                        <!-- Icon Box -->
                        <div class="col-md-4">
                            <div class="icon-box margin-b-40 text-center animated" data-animation="bounceIn">
                                <span data-target="local-scroll"><a href="#section06" class="icon icon-square icon-hover icon-green animated-hover" data-hover-animation="jello" data-hover-animation-duration="900"><i class="ti-layout"></i></a></span>
                                <h5 class="margin-b-0">Web Apps</h5>
                            </div>
                        </div>
                        <!-- Icon Box -->
                        <div class="col-md-4">
                            <div class="icon-box margin-b-40 text-center animated" data-animation="bounceIn">
                                <span data-target="local-scroll"><a href="#section06" class="icon icon-square icon-hover icon-green animated-hover" data-hover-animation="jello" data-hover-animation-duration="900"><i class="ti-mouse"></i></a></span>
                                <h5 class="margin-b-0">Coporate Identity</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Section - Services / End -->

    <!-- Section - Skills -->
    <section id="section03" class="section fullheight bg-blue dark padding-v-100" data-header-change="true">

        <div class="container container-wide v-center">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <h1 class="margin-b-50"><strong>About Me</strong> - are you impressed?<br>
                    I hope you are!</h1>
                    <!-- Skill -->
            </div>
        </div>
        
    </section>
    <!-- Section - Skills / End -->

    <!-- Section - Education & Works -->
    <section id="section05" class="section fullheight bg-blue-navy dark padding-v-100" data-header-change="true">
        
        <div class="section-content container container-wide v-center">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <h1 class="margin-b-50">I started my education in <strong>1998</strong> and currently I am working at <strong>Google Inc!</strong></h1>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Event -->
                            <div class="margin-b-40">
                                <div class="padding-b-10 margin-b-10 border-bottom">05.1998 - 12.2003</div>
                                <h3 class="margin-b-0">Pricetown University</h3>
                                <span class="text-green">IT Managmenet </span>
                            </div>
                            <!-- Event -->
                            <div class="margin-b-40">
                                <div class="padding-b-10 margin-b-10 border-bottom">02.2004 - 05.2012</div>
                                <h3 class="margin-b-0">KPMG Management</h3>
                                <span class="text-green">Graphic Designer </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- Event -->
                            <div class="margin-b-40">
                                <div class="padding-b-10 margin-b-10 border-bottom">09.2012-</div>
                                <h3 class="margin-b-0">Google Inc</h3>
                                <span class="text-green">Front-End Developer</span>
                            </div>
                        </div>
                    </div>
                    <p class="lead">I am looking for a new exciting job - are you interested in hiring me? <a href="#" class="link-default">Click here</a> to contact me!</p>
                </div>
            </div>
        </div>

    </section>
    <!-- Section - Education & Works / End -->


    <!-- Section - Contact -->
    <section id="section07" class="section fullheight bg-blue-navy dark padding-v-100" data-header-change="true">
        
        <div class="section-content container container-wide v-center">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <img class="square margin-b-20" src=" /assets/img/members/member01.jpg" alt="" />
                    <h1 class="margin-b-60">Find a way to <strong>get in touch</strong> with me! I will response <strong>as soon as possible</strong>! </h1>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="icon icon-square icon-green-dark icon-hover animated" data-animation="bounceIn" data-animation-delay="100" data-toggle="modal" data-target="#contactModal"><i class="fa fa-envelope"></i></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="icon icon-square icon-green-dark icon-hover animated" data-animation="bounceIn" data-animation-delay="200"><i class="fa fa-skype"></i></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="icon icon-square icon-green-dark icon-hover animated" data-animation="bounceIn" data-animation-delay="300"><i class="fa fa-facebook"></i></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="icon icon-square icon-green-dark icon-hover animated" data-animation="bounceIn" data-animation-delay="400"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Section - Contact / End -->
    
</div>
<!-- Page Wrapper / End -->