<li>
    <a href="/"><span>Home</span><i class="fa fa-home"></i></a>
</li>
<li>
    <a href="/login"><span>Sign In</span><i class="fa fa-sign-in"></i></a>
</li>
<li>
    <a href="/register"><span>Register</span><i class="fa fa-keyboard-o"></i></a>
</li>
<li>
    <a href="/tos"><span>Terms of Service</span><i class="fa fa-book"></i></a>
</li>