<li>
    <a href="/"><span>Home</span><i class="ti-home"></i></a>
</li>
<li>
    <a href="/search"><span>Search</span><i class="ti-search"></i></a>
</li>
<li>
    <a href="/profile/<%= current_user.id %>"><span>Profile</span><i class="ti-user"></i></a>
</li>
<li>
    <a href="/messages"><span>Messages</span><i class="ti-comment-alt"></i></a>
</li>
<li>
    <a href="/settings"><span>Settings</span><i class="ti-settings"></i></a>
</li>
<li>
    <a href="/logout"><span>Logout</span><i class="fa fa-sign-out"></i></a>
</li>